@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.site__hero {
  background-color: $colorBlack;

  &-h1 {
    font-family: $fontBase;
    color: $colorGolden;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;

    @include large {
      font-size: 180px;
      line-height: 210px;
    }

    @include tablet {
      font-size: 90px;
    }

    @include mobile {
      font-size: 70px;
      line-height: 87px;
    }
  }

  &-img img {
    width: 80%;
  }
}
