$fontBase: "Cormorant Upright", serif;
$fontAlt: "Open Sans", sans-serif;

$colorGolden: #dcca87;
$colorBlack: #0c0c0c;
$colorGray: #545454;
$colorCrimson: #f5efdb;
$colorGrey: #aaaaaa;
$colorWhite: #ffffff;
